<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" rel="stylesheet">
</head>


<body>
    <header>
            <div class="caja1">
            <img class="logo" src="/img/images/logo-mercado-liebre.svg">
            <br>
            <input class="barra-navegacion" type="search" placeholder="buscar productos,marcas">
            <button class="boton-buscar"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
        </div>
        <br>
        <p class="p-cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito
        </p>
        <br>
    </div>
    </div>

    <nav class="cuerpos-de-texto"></nav>
    <ul type="none" class="caja1">
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>
        <br>
        <li><a href="#">Créa tu cuenta</a><i class="fa-solid fa-id-card"></i></li>
        <li><a href="#">Ingresá</a><i class="fa-solid fa-arrow-right-to-bracket"></i> </li>
        <li><a href="#">Mis compras</a><i class="fa-solid fa-bag-shopping"></i></li>
    </ul>
    <div class="burguer-menu">
        <i class="fa-solid fa-bars"></i>

    </div>
    </nav>

</header>

<div>
    <img src="/img/images/img-home-banner.jpg" class="imagen">
</div>

<main>
    <div class="main-login">
    <form action="/login" method="post" class="formulario-login">
        <div class="campo">
        <p>
            <label for="usuario">Nombre de usuario:</label>
            <input type="text" name="usuario" id="usuario" class="boton">
        </p>
        <p>
            <label for="contraseña">Contraseña:</label>
            <input type="password" name="contraseña" class="boton">
        </p>
        
            <button type="submit" class="boton-final">Enviar</button>
        </div>>
    </form>
    </div>
</main>

        


<footer>

    <div class="div-footer">
        <section class="footer-section">
            <i class="fa-solid fa-credit-card" class="icono-footer"></i>
            <h2>Pagá con tarejeta o en efectivo</h2>
            <p>Con MercadoLiebreCash tenés cuotas sin
                intéres con tarjeta oefectivo en puntos de
                pago. ¡Y siempre es seguro!</p>
        </section>
        <br>
        <section class="footer-section">
            <i class="fa-solid fa-gift" class="icono-footer"></i>
            <h2>Envió gratis desde los $2.500</h2>
            <p>Solo por estar registrado en Mercado Liebre
                tenés envíos gratis en miles de productos.
                Es un beneficio de Mercado Puntos.</p>
        </section>
        <br>

        <section class="footer-section">
            <i class="fa-solid fa-user-shield" class="icono-footer"></i>
            <h2>Seguridad de principio a fin</h2>
            <p>¿No te gusta?¡Devolvelo! En MercadoLiebre
                no hay nada que no puedas hacer porque estás
                siempre protegid@.</p>
        </section>
        <br>
        <br>
        <br>
        <p class="Copyright">Copyright @ 1999-2020 MercadoLiebre S.R.L</p>

</footer>

    
</body>
</html>